{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style>
	.pagination li {
  display:inline-block;
  padding:5px;
}
  input{
  text-transform: none !important;
}
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<div class="col-sm-1 sidenav">
</div >
<div class="col-sm-11 text-left" id="detalle" style="padding-left: 80px;">
          

    <h1>Proveedores</h1>
		<hr>
		

		<div id="contacts">

	<div class="row">
      <div class="col-md-9 personal-info">
        <h3 id="titulo">Agregar nuevo proveedor</h3>
        
        <form class="form-horizontal" role="form" action="{% url 'save_proveedor' %}" method="post">
	  {% csrf_token %}
          <div class="form-group">
							<input class="form-control add_id" type="text" value="" name="id" id="id" style="display:none;">
            <label class="col-lg-3 control-label">RUT:</label>
            <div class="col-lg-8">
              <input class="form-control add_rut" type="text" value="" name="rut" id="input_rut" pattern="^\d{7,8}-[0-9-,k]{1}$" placeholder="ej. 12345678-0">
            </div>
					</div>
					<div class="form-group">
            <label class="col-lg-3 control-label">Nombre:</label>
            <div class="col-lg-8">
              <input class="form-control add_name" type="text" value="" name="nombre" id="input_nombre">
            </div>
          </div>
          

          <div class="form-group">
	    <label class="col-md-3 control-label">
	    </label>
	  </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
							<input id="primary" type="submit" class="btn btn-primary" value="Agregar">
							<button id="cancel_edit" type="button" class="btn btn-secondary" style="display: none;"><a href="#" onclick="cancel_edit()" style="text-decoration:none;">Cancelar</a></button>
            </div>
          </div>
        </form>
      </div>
  </div>

  <div class="row">
    <div class="col-md-9 personal-info">
    <h2>Proveedores</h2>
				<div id="prov-list">
					Buscar: <input type="text" class="search" /><!--ul class="list"-->
					<table>
						<thead><tr><th>#</th><th style="padding: 0 5px;">Nombre</th><th>Rut</th><th></th></tr></thead>
						<tbody class="list">
						{% for i in proveedores %}
						<!--li><p class="name">{{i.rut}}</p></li-->
						<!--li class="name">{{i.rut}}-->
						
							<tr id="{{i.id}}">
  		        <td >{{forloop.counter}}</td>
	            <td class="name">{{i.nombre}}</td>
	            <td class="rut">{{i.rut}}</td>
							<td>
								<a href="{% url 'del_proveedor' i.id %}" onclick="return confirm('seguro que desea borrar el registro?')" style="color:red;"><span class="glyphicon glyphicon-remove"></span></a>
								<a class="" href="#" onclick="edit_rut({{i.id}}); return false;" style="color:blue;"><span class="glyphicon glyphicon-pencil"></span></a>
							</tr>
					  <!--/li-->
						{% endfor %}</tbody></table>
				  <!--/ul-->
					<ul class="pagination"></ul>
				</div>
				<script>var monkeyList = new List('prov-list', {
						valueNames: ['name','rut'],
						page: 20,
						pagination: true
					});
				</script>

    </div>
  </div>


<script>
	var elems = document.getElementsByClassName('confirmation');
  var confirmIt = function (e) {
      if (!confirm('Are you sure?')) e.preventDefault();
  };
  for (var i = 0, l = elems.length; i < l; i++) {
      elems[i].addEventListener('click', confirmIt, false);
  }

	function edit_rut(a){
		//preventDefault();
		console.log(a);
		//$('.add_rut').val();
		//$('.add_name').val();
		//var b = '.'+a+'.name';
		var b = $('#'+a+' .name').html();
		var c = $('#'+a+' .rut').html();
		$('input#input_rut').val(c);
		$('input#input_nombre').val(b);
		$('input#id').val(a);
		$('#cancel_edit').css('display','inline');
		$('h3#titulo').html("Editar proveedor (#id: "+a+")");
		$('tr').css('background','white');
		$('tr#'+a).css('background','#ffff72');
		$('input#primary').val('Editar');
		//console.log(b);
		//console.log(c);
		//return false;
	}

	function cancel_edit(){
		$('#cancel_edit').css('display','none');
		$('input#id').val("");
		$('input#input_rut').val("");
		$('input#input_nombre').val("");	
		$('h3#titulo').html("Agregar nuevo proveedor");	
		$('tr').css('background','white');
		$('input#primary').val('Agregar');
	}
	/*function showhidepass() {
	    var x = document.getElementById('cambiar-pass2');
	    if (x.style.display === 'none') {
	        x.style.display = 'block';
                $('#password').val('');
	    } else {
	        x.style.display = 'none';
		$('#password').val('');
	    }
	}
	function show() {
	    var p = document.getElementById('password');
	    p.setAttribute('type', 'text');
	}
	function hide() {
	    var p = document.getElementById('password');
	    p.setAttribute('type', 'password');
	}
	var pwShown = 0;
	document.getElementById("eye").addEventListener("click", function () {
	    if (pwShown == 0) {
	        pwShown = 1;
	        show();
	    } else {
	        pwShown = 0;
	        hide();
	    }
	}, false);*/

</script>
        </div>

{% endblock %}

